* {
    margin: 0;
    padding: 0;
}

html, 
body {
    background-color: #000;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
}


/* --> */

body.nojs header,
body.nojs main,
body.screen header,
body.screen footer,
body.tablet footer {
    display: none;
}


/* --> */

header {
    position: fixed;
    top: 12px;
    right: 12px;
    z-index: 2;
}

header svg {
    cursor: pointer;
    width: 48px;
    height: 48px;
    fill: #fff;
}

header svg.online {
    fill: green;
}

header svg.auth {
    fill: blue;
}

header svg.offline {
    fill: red;
}


/* --> */

main {
    position: relative;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    padding: 72px 12px 12px 12px;
}

/* --> */

section {
    display: none;
}

#screen.show {
    display: block;
}

#screen .content {
    display: flex;
    flex-flow: row;
    gap: 12px 12px;
}

#screen .content > div {
    flex: 0 0 48px;
    height: 48px;
    background-color: #fff;
    border-radius: 8px;
    color: #000;
    text-align: center;
    line-height: 48px;
    transition: all 0.6s;
}



/* --> */

#password {
    height: 100%;
    align-items: center;
    justify-content: center;
}

#password.show {
    display: flex;
    gap: 12px 12px;

}

form {
    width: calc(100% - 40px);
    max-width: 380px;
    margin: 20px;
    padding: 20px;
    background-color: #333;
    border-radius: 12px;
}

form label {
    display: block;
    margin-bottom: 12px;
}

form input {
    box-sizing: border-box;
    width: 100%;
    display: block;
    margin-bottom: 12px;
}


/* --> */

#tablet.show {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px 20px;
}

#tablet.show > div {
    cursor: pointer;
    flex: 0 0 48px;
    height: 48px;
    background-color: rgba(255, 255, 255, 0.6);
    border: 2px solid #fff;
    border-radius: 8px;
    text-align: center;
    line-height: 48px;
    transition: all 0.6s;
}

#tablet.show > div.locked {
    flex: 0 0 32px;
    height: 32px;
    margin: 8px;
    background-color: rgba(255, 0, 0, 0.6);
    border-color: red;
    font-size: 22px;
    line-height: 32px;
}

#tablet.show > div.owner {
    background-color: rgba(0, 255, 0, 0.6);
    border-color: green;
}

#tablet.show > div span {
    display: block;
}









/* --> 

h2 {
    margin-bottom: 12px;
    text-align: center;
}

#screen .content{
    display: flex;
    align-items: center;
    justify-content: center;
}

#screen .content div {
    flex: 0 0 200px;
    box-sizing: border-box;
    max-width: 80%;
    background-color: #fff;
    border: none;
    border-radius: 6px;
    padding: 0 20px;
    color: #000;
    font-size: 100px;
    line-height: 52px;
    box-shadow: 0px 2px 8px 1px #fff;
    transition: background-color 0.6s, color 0.6s, box-shadow 0.6s;
    line-height: 200px;
    text-align: center;
}


#register .content {
    margin-bottom: 32px;
}

#register div.content:nth-of-type(2),
#citchen div.content {
    display: flex;
    gap: 20px 20px;
    flex-flow: wrap;
    justify-content: center;
}

#register .s1 {
    background-color: #ff9999;
    color: red;
    box-shadow: 0px 2px 8px 1px #ff9999;
}

#register .s2 {
    background-color: #99ff99;
    color: green;
    box-shadow: 0px 2px 8px 1px #99ff99;
}

#citchen .s2 {
    display: none;
}*/